.btn-violet {
  background-color: #241f43 !important;
  border-radius: 0.8em !important;
  color: #fff !important;
}
.color-violet {
  color: #241f43 !important;
}
.txt-souligne {
  text-decoration: underline !important;
}
.color-yellow {
  color: #feda75;
}
.vnav {
  list-style: none;
}
