.btn-violet {
  background-color: #241f43 !important;
  border-radius: 0.8em !important;
  color: #fff !important;
}
.color-violet {
  color: #241f43 !important;
}
.txt-souligne {
  text-decoration: underline !important;
}
.color-yellow {
  color: #feda75;
}
.vnav {
  list-style: none;
}
table {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(164, 161, 161);
  border-radius: 1em !important;
}
td {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(164, 161, 161);
  padding: 1rem;
}
th {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(164, 161, 161);
  padding: 1rem;
  background-color: #241f43 !important;
  color: #fff;
}
